:root {
  --main-accent-color: #ff6666;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Armata', sans-serif;
  color: var(--main-accent-color);
}

a {
  color: var(--main-accent-color);
}

.headerLogo {
  padding: 10% 20% 10% 10%;
}

.logo {
  width: 100%;

}

.Header {
  height: auto;
}

.Footer {
  align-self: flex-end;
  background-color: var(--main-accent-color);
}

.footerContainer {
  height: auto;
  font: white;
}

.Footer {
  color: white;
  text-align: left;
}



.CategoryCover h3 {
  writing-mode: vertical-rl;
  float: left;
  padding: 0;
  margin-right: 0;
}

.CategoryCover {
  flex-direction: row;
  padding: 0% 15% 20% 15%;
}

.categoryShadow {
  box-shadow: -0px -0px 30px #ccc;
  padding-top: 5px;
}

.fullheight {
  height: 100%;
}

.VideoPlayer {
  padding: 0 0 10% 0;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: white;
    float: left;
    flex-flow: row wrap;
}

li a {
    display: block;
    color: #ff6666;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;

}

.headerMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


.firstPageMenu {
  display: flex;
  flex-direction: column;
}


.firstPageMenu li {
  float: left;
  color: var(--main-accent-color);
  padding: 20px;
  display: flex;
  font-size: 26px;
}

.headerMenu li {
  flex-direction: row;
  color: var(--main-accent-color);
  padding: ;
  display: flex;
  font-size: 16pt;
  align-items: baseline;


}

@media only screen and (min-width: 62em) {

  .column-sm {
    flex-direction: row;
  }


}


@media only screen and (min-width: 75em) {
  #lg-0 {
    visibility: hidden;
  }

  #lg-100 {
    visibility: visible;
  }



}




.headerMenuItem {
  width: 100%;
}

.headerMenuItemLarge {
  width: 24%;
}

.headerMenu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.bock {
  width: 10%;
  display: block;
}

.bockLarge {
  width: 10%;
  display: block;
}

.photoMenuItem {
    background-color: var(--main-accent-color);
    width: 100px;
    float: left;
    color: var(--main-accent-color);
    margin: 20px;
    display: block;
    text-decoration: none;
}

.photoMenuItem p {
  color: white;
  text-align: center;
}


.activePMI {
  border-style: solid;
  border-color: var(--main-accent-color);
  background-color: white;
  width: 100px;
  float: left;
  margin: 20px;
  display: block;
  text-decoration: none;
}

.activePMI p {
  color: var(--main-accent-color);

}

.photoCategories {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.categoryPicture {

  width: 80%;
}

.bm-burger-button {
  position: absolute;
  float: right;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--main-accent-color);
}

/* General sidebar styles */
.bm-menu {
  background: var(--main-accent-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

.bm-menu a {
  color: white;
  text-decoration: none;
}


/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

.About, .Film {
  padding-bottom: 10%;
  padding-top: 5%;
}

.bocks-pic {
  margin: 7%;
}




/* Uncomment and set these variables to customize the grid. */
